<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ph.edu.dlsu.eleksyon">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_app"
        android:label="ELEK:SYON"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="ELEK:SYON"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Candidates"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name=".CandidateList"
            android:screenOrientation="portrait"/>
        <activity android:name=".BarCodeActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".OfficalPageActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".CandidateProfile"
            android:screenOrientation="portrait"/>
        <activity android:name=".About"
            android:screenOrientation="portrait"/>
        <activity android:name=".AnyOrientationActivity"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>

    </application>

</manifest>
